@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans&display=swap');

body{
    background-color: #f4f7ff;
    font-family: 'Open Sans';
}
#wrapper{
    max-width: 1024px;
    width: 96%;
    margin: 0 auto;
}
.icon{
    width: 26px;
    /* height: 21.6px; */
    margin: 0 0 0 10px;
}
.small{
    font-size: 12px;
}
.call{
    background: rgb(239, 239, 239);
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
}
.name_client{
    font-size: 18px;
}
.mail_client{
    font-size: 10px;
}
.zadzwon{
    font-size: 8px;
    font-weight: bold;
}
.cost{
    display: flex;
}
.cost_col{
    width: 50%;
}
.btn_link{
    background: rgb(173, 173, 173);
    padding: 2px 12px;
    margin: 0 12px 0 0;
    border-radius: 5px;
    cursor: pointer;
}
.btn_link:hover{
    background-color: #5675c9;
    color: white;
}
.btn_link_active{
    background-color: #5675c9;
    color: white;
}
.container{
    margin: 0.5%;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: white;
    border: solid 2.3px #DFE7FD;
}
.container.sett{
    width: 52%;
}
.container.block{
    width: 36%;
}
.container.admins{
    width: 98%;
}
.blocks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
input[type=text], input[type=number]{ 
    border: none;
    font-size: 18px;
}
a{
    text-decoration: none;
    color: black;
}
.admin_title{
    font-size: 28px;
    margin: 5px 0px;
    font-weight: bold;
    color: #5675c9;
}
.admin_btn{
    font-family: "Smooch Sans";
    font-size: 28px;
    border: none;
    padding: 0px 15px;
    border-radius: 5px;
    background: #cddafd;
    color: #5675c9;
    cursor: pointer;
    transition: .1s;
}
.admin_btn:hover{
    background: #a0b5f0;
    color: #465b96;
    transition: .1s;
}
.order_row{
    display: flex;
    width: 96%;
    margin: 6px 1.5%;
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;
}
.order_row.head{
    padding: 10px 0;
    background-color: white;
    border: solid 2.3px #DFE7FD;
    margin: 15px 1.5%;
    font-weight: bold;
}
.order_row.status1{
    background-color: #F0EFEB;
    /* border: solid 2.3px #EDEADD; */
}
.order_row.status2{
    background-color: #E2ECE9;
    /* border: solid 2.3px #D4E6D3; */
}
.order_row.status3{
    background-color: #FFF1E6;
    /* border: solid 2.3px #F6E6C7; */
}
.order_row.status4{
    background-color: #DFE7FD;
    /* border: solid 2.3px #CDDAFD; */
}
.order_row.status5{
    background-color: #ffd9d9;
    /* border: solid 2.3px #CDDAFD; */
}
.order_row.status_new{
    background-color: #dedede;
    /* border: solid 2.3px #CDDAFD; */
}
.order_row.displaynone{
    display: none;
}
.order_col{
    width: 16.6%;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.order_col.id{
    width: 80px;
}
.order_row.head > .order_col{
    flex-direction: row;
}
.order_col.payment{
    flex-direction: column;
}
.order_col.id.btns{
    justify-content: space-evenly;
}
.new_btn{
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 11px;
    cursor: pointer;
}
.new_btn:hover{
    background-color: #e7e7e7;
}
.new_btn.dodaj{
    color: #5d9c50;
}
.new_btn.anuluj{
    color: #ff9393;
}
.new_pass{
    display: flex;
    width: 80%;
    justify-content: space-between;
}
.new_date_time{
    border: none;
    width: 100%;
    margin: 1px 0;
}
.input_new{
    width: 90%;
    margin: 1px 0;
}
button.rej{
    border: none;
    cursor: pointer;
}
button.rej:hover{
    background-color: #e7e7e7;
}
.input_new_pass{
    width: 30px;
    margin: 1px 0;
}
.settings{
    display: flex;
    flex-direction: column;
    width: 500px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    background: #CDDAFD;
    padding: 20px;
}
.sett_row{
    display: flex;
    justify-content: space-between;
    background: #f0f0f0;
    color: gray;
    margin: 10px;
}
.sett_row input{
    font-size: 20px;
    width: 60px;
}
.sett_row input[type=time] {
    font-size: 14px;
    width: 75px;
}
.btn_container{
    display: flex;
}
#admins_container{
    /* display: flex; */
}
.admin_block{
    display: flex;
    /* width: 200px; */
    height: auto;
    padding: 20px 15px;
    background: #DFE7FD;
    border-radius: 10px;
    margin: 10px;
    justify-content: space-evenly;
    flex-direction: column;
    justify-content: space-between;
}
.admin_block.new{
    background: #D0E8C8;
}
.admin_info{
    display: flex;
    align-items: center;
}
.admin_row{
    margin: 3px 0;
}
.admin_row, .personal_link, .admin_btns{
    width: 25%;
}
.admin_name{
    font-size: 22px;
    font-weight: bold;
}
.admin_level{
    font-style: italic;
    font-size: 14px;
}
.personal_link{
    text-decoration: underline;
    font-style: italic;
}
.admin_btns{
    display: flex;
    justify-items: flex-end;
}
.delete_admin, .add_admin, .sett_btn{
    border: none;
    margin: a;
    flex-direction: unset;
    margin: 0 auto;
    cursor: pointer;
    padding: 2px 10px;
    border-radius: 5px;
    color: gray;
    transition: .1s;
}
.delete_admin:hover{
    background-color: #ff9393;
    color: red;
    transition: .1s;
}
.add_admin:hover{
    background-color: #a2db96;
    color: #5d9c50;
    transition: .1s;
}
.status_btn{
    border: none;
    cursor: pointer;
    padding: 3px 10px;
}
.search{
    width: 90%;
    background: rgb(238, 238, 238);
    border-radius: 7px;
}

/* ADMIN PAGE ------------ */
.adminpage_container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    display: flex;
}
#timetable{
    width: 100%;
    display: flex;
}
.week_day{
    width: 12.5%;
}
.hour{
    margin: 0 2px;
}
#raportOptions{
    background-color: #5675c9;;
    width: 300px;
    border-radius: 5px;
    padding: 2px 15px;
    display: flex;
    margin: 0 12px 0 0;
    justify-content: space-between;
}
.rap{
    cursor: pointer;
}
.rap:hover{
    color: white;
}

@media (max-width: 1024px) {
    .order_col{
        font-size: 10px;
    }
    .btn_link {
        font-size: 14px;
    }
    #raportOptions{
        font-size: 14px;
        position: fixed;
        right: 0px;
        margin: 27px 94px;
        display: flex;
    }
    .container.sett {
        width: 49%;
    }
}
@media (max-width: 767px) {
    .buttons{
        flex-wrap: wrap;
        margin: 10px 0;
    }
    #raportOptions{
        display: flex;
        position: relative;
        margin: 0;
        font-size: 12px;
    }
    .btn_link {
        font-size: 12px;
        margin: 0px 12px 4px 0px;
    }
    .order_row{
        flex-wrap: wrap;
        justify-content: center;
    }
    .order_row.head{
        display: none;
    }
    .order_col,.order_col.id {
        font-size: 16px;
        width: 33%;
        margin: 10px 0;
    }
    .container.sett,.container.block {
        width: 100%;
    }
    .delete_admin, .add_admin, .sett_btn {
        margin: 3px auto;
        font-size: 20px;
    }
}
@media (max-width: 480px) {
    .order_col, .order_col.id {
        font-size: 16px;
        width: 100%;
        margin: 2px 0;
    }
    h1{
        font-size: 25px;
    }
    .new_date_time, .input_new {
        width: 90%;
        margin: 3px 0;
        font-size: 18px;
    }
    .new_btn{
        font-size: 16px;
    }
    .order_col.id.btns {
        justify-content: space-evenly;
        flex-direction: row;
    }
    .admin_title {
        font-size: 22px;
    }
    .blocks{
        font-size: 12px;
    }
    .container{
        padding: 10px;
    }
    .sett_row {
        margin: 10px 0;
    }
}
